:root{

--Cyan: hsl(179, 62%, 43%);
--Bright-Yellow: hsl(71, 73%, 54%);
--Light-Gray: hsl(204, 43%, 93%);
--Grayish-Blue: hsl(218, 22%, 67%);
}
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Red+Hat+Display:ital,wght@0,700;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    font-family: 'Red Hat Display', sans-serif;
    background-color: var(--Light-Gray);
    font-size: 16px;  
}
.main-container{
    height: 100vh;
}
.card-container{
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;  
}
.card-top-section{
    background-color: white;
    padding: 1.5rem;
}
.title{

    color: var(--Cyan);
    padding-bottom: 1.5rem;
}
.title-description{
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    color: var(--Bright-Yellow);
    font-weight: 400;
}
.para{
    line-height: 1.5rem;
    color: var(--Light-Gray);
}

.card-midddle-section{

    background-color: var(--Cyan);
    padding: 1.5rem;
    color: white;
   
}
.title-2{

    padding-bottom: 1.5rem;
    font-weight: 400;
}
.price-tag{

    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
    
}
h1{
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}
.per-month{

    
    padding-left: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;   
}

button{

    width: 100%;
    margin-top: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    border-style: none;
    font-size: 1em;
    color: white;
    background-color: var(--Bright-Yellow);
    box-shadow: 0px 1px 1px 0px rgba(150, 150, 150, 0.75);
}
.card-bottom-section{

    color: white;
    padding: 1.5rem;
    background-color: var(--Cyan);
    opacity: .8;
}
h2{
    font-weight: 400;
    padding-bottom: 1rem;
}

ul{
    line-height: 1.5rem;
    list-style: none;
}

/* Media query */
@media(min-width:30em){


    .main-container{

        display: flex;
    }

    .card-container{

        justify-content: center;
        align-content: center;
    }
    
    .card-container{
        width: 640px;
    }
    .card-top-section{
        background-color: white;
        padding: 1.5rem;
        height: 220px;
    }

    .flex-container{
        display: flex;
        flex-direction: row;
        width: auto;
    }
    .card-midddle-section {

        width: 320rem; 
    }
    .card-bottom-section{

        width: 320rem; 
    }
    }